body,
main,
footer {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.contenedor-body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

  main {
    min-width: 768px;
    max-width: 1294px;
    width: 68%;

    .titulo {
      width: 100%;
      margin-top: 2.6%;

      .titulo-del-proyecto {
        width: 100%;
        text-align: center;
      }
    }

    .subtitulo {
      width: 100%;

      .subtitulo-del-proyecto {
        width: 100%;
        text-align: center;
        color: #4d4d4d;
        font-weight: 600;
      }
    }

    .entrada {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .cont-input-text {
        padding: 10px 12px;
        border: 1px solid #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;

        .input-color {
          font-weight: 600;
          border: none;
          padding: 0;
          margin: 0;

          &:focus {
            outline: none;
          }
        }

        .input-type-color {
          appearance: none;
          border-radius: 50%;
          width: 40px;
          border: none;
          height: 40px;
          cursor: pointer;
          padding: 0;
          transition: border-color 0.3s ease;
          background-color: transparent;
        }

        .cont-select {
          border: none;
          padding: 0;
          margin: 0;
          width: 50px;
          text-align: center;

          option {
            font-weight: 600;
            border: none;
            padding: 0;
            margin: 0;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }

    .error-error {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .texto-error {
        width: 100%;

        .error {
          text-align: center;
          color: red;
          font-weight: 600;
        }
      }

      .imagen {
        width: 100%;
        display: flex;
        justify-content: center;

        .imagen-error {
          min-width: 400px;
          width: 60%;
          height: auto;
        }
      }
    }

    .array-de-colores {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin: 32px 0 0 0;
      cursor: pointer;

      .colores-filtrados {
        width: 180px;
        height: 180px;
        border-radius: 12px;
        margin: 0 4px 20px 4px;
      }
    }
  }

  footer {
    padding: 0px 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .texto-footer {
      font-weight: bolder;
      font-size: 14px;
      color: black;
      text-align: center;

      .link-redes {
        text-align: center;
        text-decoration: none;
        font-weight: bolder;
        font-size: 14px;
        text-decoration: underline;
      }
    }
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .contenedor-body {
    min-height: 100vh;

    main {
      min-width: auto;
      max-width: auto;
      width: 90%;

      .titulo {
        .titulo-del-proyecto {
        }
      }

      .subtitulo {
        .subtulo-del-proyecto {
        }
      }

      .entrada {
        .cont-input-text {
        }
      }

      .array-de-colores {
        .colores-filtrados {
          margin: 0 4px 12px 4px;
          width: calc(32% - 8px);
          height: 160px;
        }
      }
    }
  }
}

@media (max-width: 479px) {
  .contenedor-body {
    min-height: 100vh;

    main {
      min-width: auto;
      max-width: auto;
      width: 90%;

      .titulo {
        .titulo-del-proyecto {
          font-size: 25.6px;
        }
      }

      .subtitulo {
        .subtitulo-del-proyecto {
          font-size: 16.64px;
        }
      }

      .entrada {
        .cont-input-text {
        }
      }

      .array-de-colores {
        .colores-filtrados {
          margin: 0 0 12px 0;
          width: 48%;
          height: 160px;
        }
      }

      .error-error {
        .imagen {
          .imagen-error {
            min-width: auto;
            width: 100%;
            padding: 0 4%;
          }
        }
      }
    }

    footer {
      padding: 0 4%;
    }
  }
}
